body {
  font-family: sans-serif;
  color: #05080C;
  font-size:18px;
  line-height: 1.5;
  margin:50px;
  padding:50px;
  border-top:5px solid #e6e6e6;
  border-bottom:5px solid #e6e6e6;

}

a:visited {
  color:inherit;
}

a:hover {
  color:#228dec; 
}

.commonstyles a {

}

.commonstyles small {
}

.commonstyles strong {

}

.commonstyles h1 {

}

.commonstyles h2 {
  color:#133d63;
}

/*.commonstyles h3 {
  margin-top: 42px;
}*/

.commonstyles h4 {
  margin-bottom: 0;
}

.commonstyles p {
  margin-top: 0;
  margin-bottom: 27px;
  font-family: georgia, times, serif;
}

.commonstyles ul {
  list-style: square;
}

.commonstyles ul p {

}

.commonstyles li {

}

.commonstyles hr {
  border: none;
  border-top: 1px solid #222222;
  margin: 30px 0;
}

.commonstyles img {
  margin-left: 20px;
  margin-bottom: 20px;
  border: 5px solid #e6e6e6;
  padding: 5px;
  text-align: center
}

.commonstyles img[alt] {
  float: right;
}

.toc {

  max-width: 300px;
  float:right;
  margin: 0 0 20px 20px;
  list-style-type: square;
}

.history {
  overflow: hidden;
}

div {
  background: f6f6f6;
  width:350px
  float: right;
}

.toc h2 {
  color: #228dec;
}

.toc .toclevel-1 {
  font-size:14px;
}

.toc .toclevel-1 > a {

}

.toc .toclevel-2 {
  font-size:12px;
  color:gray;
}

.toc .toclevel-2 > a {
}

.datatable td {
  padding: 8px 14px;
}

.datatable td:first-child{
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}

.theader {
  text-transform: uppercase;
  font-family: georgia;
  font-weight: lighter;
  color: #g6g6g6;
  padding-left: 10px;
}

img { 
  border: 1px solid #000; 
  padding: 5px; 
}

table {
  padding:10px 10px 10px 0;
  margin: 10px;
  line-height: 2.0;
}

.post td:first-child {
  font-size: 11px;
}

td {
  padding-right: 45px;
  padding-left: 15px;
  text-align: left;
}

th {
  text-align: left;
  font-size: 18px;
  padding-right:45px;
  color: #228dec;
}

.aside {
  font-weight: bold;
  padding-left: 50px;
  font-size: 24px;
  color: #228dec;
  letter-spacing: 2px;
  font-family: serif;
}

li {
  font-weight: lighter;
  font-family: sans-serif;
}

.citations {
  padding-left: 50px;
}

.footnotes {
  width: 600px;
  height: 25px;
  vertical-align: middle;
  font-size: 11px;
  padding-left: 25px;
  padding-top: 10px;
  background-color: #f6f6f6;
}