/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 24px;
    color: #ffffff;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #ffffff;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #033048;
}

a.button {
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  font-size: 14px;
  border-radius: 5px;
  padding: 10px 10px;
  text-decoration: none;
  display: inline-block;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#header {
  padding: 20px 0px 100px 0px;
  text-align: center;
}

#header a.button {
  margin: 60px;
}

#header h1 {
  text-align: left;
}

footer h1 {
  text-align: center;
}

footer p {
  font-weight: bolder;
  font-size: 9px;
  text-align: center;
}

footer a {
  display: inline-block;
}

#header h2 {
  margin: 120px 0px 0px 0px;
}

#benefits {
  background-color:#f0efef;
  padding: 20px 0px 40px 0px;
}

#benefits p, li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 13px;
  color: gray;
}

#testimonials blockquote {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 18px;
}

#testimonials p {
  font-weight: 600;
  font-size: 18px;
  margin-left: 50;
}

#yellow {
  background-color: #f9e42e;
  text-align: center;
  padding: 50px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
      background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
      background-size: cover;
}

footer {
      background-color: black;
      color: #ffffff;
      padding: 20px 0px 20px 0px;
      text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* Button Styles */

.yellow {
  background-color: #f9e42e;
  color: black;
}

.dark {
  background-color: #033048;
  color: #ffffff;
}

